# OS
.DS_Store

# IDE / Editors
.metadata/
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Maven / Java
target/
*.log

# Environment files
.env
.env.*
application-local.properties

# Node / frontend
node_modules/
dist/
.build/

